body {
    font-family: Arial, Helvetica, sans-serif;
    background: #181818;
    color: #EFEFEE;
    font-size: 16px
}

main {
    color: white;
}

main #settings {
    text-align: left;
}

main #content {}

main #network {}

#menu_settings {
    flex-wrap: nowrap;
    min-width: 340px;
    background: #363636;
    padding: 8px;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 10px;
}


h {
    font-size: 18px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {}
